/* REGOLE GENERALI  */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 85vw;
    margin: 0 auto;
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.card{
    width: 100%;
}

/* HEADER  */
header{
    height: 12vh;
    background-color: blue;
    display: flex;
    align-items: center;
}


header img{
    height: 8vh;
}

header i{
    font-size: 2rem;
    color: white;
}

header .col-left,header .col-right{
    display: flex;
    align-items: center;
}

/* PRIMA SEZIONE DEMO */
.demo{
    padding-top: 9vh;
    padding-bottom: 12vh;
}
.demo .card{
    background-color: lightblue;
    height: 60vh;
    border-radius: 2rem;
    margin-bottom: 2rem;
}

.demo .card:first-child{
    height: 120vh;
}